<% if @client.errors.any? %>
<% @client.errors.full_messages.each do |message|%>
<h3><%= message %> </h3>
<%end%>
<%end%>
<%= form_for(@client) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.fields_for :user do |user| %>
        <%= render partial: 'users/form', locals: {user: user} %>
    <% end %>
    <%= f.submit "Sign Up" %>
<% end %>

<%= link_to "Sign Up with google", "/auth/google_oauth2?user=client", method: :post %>