<% if @contractor.errors.any? %>
<% @contractor.errors.full_messages.each do |message|%>
<h3><%= message %> </h3>
<%end%>
<%end%>

<%= form_for(@contractor) do |f| %>
    <%= f.label :business_name %>
    <%= f.text_field :business_name %><br>
    <%= f.label :license_number %>
    <%= f.number_field :license_number %><br>
    <%= f.fields_for :user do |user| %>
        <%= render partial: 'users/form', locals: {user: user} %>
    <% end %>
    <%= f.submit "Sign Up" %>
<% end %>