<% if @appointment.errors.any? %>
  <% @appointment.errors.full_messages.each do |message|%>
  <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= form_for (@appointment) do |f| %>

    <%= f.label :contractor_id, "Contractor Name" %><br>
    <% Contractor.all.each do |contract| %>
        <%= f.radio_button :contractor_id, contract.id %>
        <%= f.label :contractor_id, contract.business_name %>
        <br>
    <% end %>
        <br>
    <%= f.label :job_name, "Job Name" %>
    <%= f.text_field :job_name %><br>
        <br>
    <%= f.label :job_description, "Job Description" %>
    <%= f.text_field :job_description %><br>
        <br>
    <%= f.label :appointment_time, "Appointment Time" %>
    <%= f.datetime_field(:appointment_time, placeholder: "yyyy-mm-dd", min: Date.today) %><br>
        <br>
    <%= f.submit %>

<% end %>

