<h1>Reviews</h1>
<%  @reviews.each do |review|  %>
    <ul>
        <li>
        <h3>Project Name: <%= review.appointment.job_name %></h3>
        <strong>Contractor Rating:</strong> <%= review.rating %>/10<br>
        <strong>Review:</strong> <%= review.content %><br>
        </li>
    </ul>
<% end %>

<%= link_to 'Ratings from High to Low', high_to_low_reviews_path %> || <%= link_to 'Ratings from Low to High', low_to_high_reviews_path %>