<h1><%= @client.name %>'s Reviews </h1>
<%  @reviews.each do |review|  %>
    <ul>
    <li><h3>Project Name: <%= review.appointment.job_name %></h3>
        <strong>Contractor Business Name:</strong> 
        <% @contractor = Contractor.find_by(:id => review.appointment.contractor_id) %>
        <%= @contractor.business_name %><br>
        <strong>Contractor Rating:</strong> <%= review.rating %><br>
        <strong>Review:</strong> <%= review.content %><br>
    </ul>
<% end %>