<% if @review.appointment %>
<h1>Write a Review for <%= @review.appointment.job_name %></h1>
<% else %>
<h1>Write a Review!</h1>
<% end %>

<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message|%>
  <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= form_for([@review.appointment, @review]) do |f| %>

    <% if !@review.appointment %>
      <strong><%= f.label :appointment_id, "Project Name" %><strong>
      <%= f.collection_select :appointment_id, Appointment.where(:client_id => client_user), :id, :job_name %><br>
    <% else %>
      <%= f.hidden_field :appointment_id %>
    <% end %>
    <br>
    <strong><%= f.label :rating, "Rate the Job 1-10" %></strong>
    <%= f.number_field :rating %><br>
    <br>
    <strong><%= f.label :content, "Why did you give this Rating" %></strong>
    <%= f.text_field :content %><br>
    <br>
    <%= f.submit %>
<% end %>